<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Welcome to Heimdall!
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
      <div class="col-lg-12">
          <h4 class="page-header">Use the 'Load Json' tab on the left to load data</h4>
      </div>
      <!-- /.col-lg-12 -->
  </div>
<!-- /.row -->
</section>
<!-- /.content -->
