<div class="content">
  <h4><%= @profile.name %></h4>
  <%= render partial: 'controls/profile_details', locals: { evaluation: @evaluation, control: @control } %>
</div>
<% if @parent.present? %>
  <div class="content">
    <h4>Parent profile: <%= @parent.name %></h4>
    <%= render partial: 'controls/profile_details', locals: { evaluation: @evaluation, control: @parent_control } %>
  </div>
<% end %>
