<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Control
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to 'Profiles', profiles_path %></li>
    <li><%= link_to 'Profile', profile_path(@profile.id) %></li>
    <li class="active">Control</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <%= render 'ace', control: @control, profile: @profile %>
      </div>
    </div>
  </div>
</section>
