<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Editing Dependency
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">

<%= render 'form', depend: @depend %>

<%= link_to 'Show', profile_depend_path(@profile.id, @depend) %> |
<%= link_to 'Back', profile_path(@profile.id) %>
</section>
<!-- /.content -->
