<!-- Content Header (Page header) -->
<section class="content-header">
  <p id="notice"><%= notice %></p>
  <h1>
    Supports
  </h1>
</section>

<!-- Main content -->
<section class="content container-fluid">
<p>
  <strong>OS Family:</strong>
  <%= @support.os_family %>
</p>

<%= link_to 'Edit', edit_profile_support_path(@profile.id, @support) %> |
<%= link_to 'Back', profile_path(@profile.id) %>
</section>
<!-- /.content -->
