<section class="content-header">
  <h1>
    New Filter
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to 'Filters', filters_path %></li>
    <li class="active">New Filter</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">New Filter</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <%= render 'form', filter: @filter, nist_hash: @nist_hash %>
        </div>
      </div>
    </div>
  </div>
</section>
