<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    New Attribute
  </h1>
  <ol class="breadcrumb">
    <li><%= link_to ('<i class="fa fa-dashboard"> </i>Dashboard').html_safe, root_path %></li>
    <li><%= link_to 'Profiles', profiles_path %></li>
    <li><%= link_to 'Profile', profile_path(@profile.id) %></li>
    <li class="active">New Attribute</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-primary">
        <div class="box-body">
          <%= render 'form', profile_attribute: @profile_attribute, profile: @profile %>
        </div>
      </div>
    </div>
  </div>
</div>
