<p>
  <strong>Profiles:</strong>

  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th></th>
    </tr>

    <% circle.profiles.each do |profile| %>
      <tr>
        <td><%= link_to profile.name, profile %></td>
        <td><%= profile.title %></td>
        <td><%= link_to ('<span class="glyphicon glyphicon-remove red"></span>').html_safe, circle_profile_remove_path(circle, profile), :method => :delete, remote: true %></td>
      </tr>
    <% end %>
  </table>
</p>
