<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" style="font-size:250%;">Heimdall</a><%= image_tag("logo.png", :width => "12%", :height => "12%", :alt => "logo") %>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
              <li><a href="/users/show"><i class="fa fa-user fa-fw"></i> User Profile</a>
              </li>
              <li class="divider"></li>
              <% if current_user %>
                <li><a rel="nofollow" data-method="delete" href="/users/sign_out"><i class='fa fa-sign-out fa-fw'></i> Logout</a>
              <% else %>
                <li><a href="/users/sign_in"><i class='fa fa-sign-in fa-fw'></i> Login</a>
              <% end %>
              </li>
          </ul>
          <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <div class="navbar-default sidebar" role="navigation">
      <%= render :partial => 'layouts/sidebar' %>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
