<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <style>
    <%= (Rails.application.assets || ::Sprockets::Railtie.build_environment(Rails.application)).find_asset('ssp_pdf') %>
  </style>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
